@import "tailwindcss";

/* Import the Poppins font from Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Set Poppins as the default sans-serif font */
  --font-sans: 'Poppins', sans-serif;
  --font-mono: 'Courier New', monospace; /* Keep a fallback for monospace fonts */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C3255;
    /* 
    4F518C: Dark Purple
    1C3255: Optiver Blue
    003E1F: Forest Green
    
    */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Use Poppins globally */
}
